.blog {
  --bg-primary: 300 4% 5%;
  --bg-secondary: 240 2% 12%;
  --bg-card: 240 3% 6%;
  --text-primary: 248 91% 82%;
  --text-foreground: 0 0% 98%;
  --text-muted-foreground: 252 2% 49%;
  --border-primary: 240 2% 12%;
}

.blog h1, .blog h2, .blog h3 {
  scroll-margin-top: 5rem;
}

.blog h1:hover a,
.blog h2:hover a,
.blog h3:hover a {
  text-decoration: underline;
}

.blog h1:hover::before,
.blog h2:hover::before,
.blog h3:hover::before {
  color: #000;
}

.blog h1 {
  font-size: 1.75rem;
  font-family: "Geist-Bold";
}

.blog h2 {
  font-size: 1.5rem;
  font-family: "Geist-Semibold";
}

.blog h3 {
  font-size: 1.25rem;
  font-family: "Geist-Medium";
}

.blog p {
  margin-bottom: 1rem;
  font-family: "Geist-Regular";
}

.blog a {
  color: hsl(var(--text-primary));
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.blog a:hover {
  text-decoration: underline;
}

.blog blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  margin: 1.5rem 0;
  color: hsl(var(--text-muted-foreground));
}

.blog blockquote p {
  margin: 0;
  font-family: "Geist-Medium";
}

.blog code {
  background-color: hsl(var(--bg-card));
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-family: "Geist-Medium";
}

.blog pre {
  background-color: hsl(var(--bg-card));
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
  font-family: "Geist-Regular";
}

.blog ul, .blog ol {
  margin: 1.5rem 0;
  padding-left: 2rem;
  font-family: "Geist-Regular";
}

.blog li {
  margin-bottom: 0.5rem;
}

.blog img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 1.5rem 0;
}

.blog-title {
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
}
