---
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout class="max-w-3xl">
	<PageHead slot="head" title="Home" />
	<section>
		<div class="rounded-lg border">
			<div class="flex flex-col space-y-1.5 p-6">
				<h3 class="text-3xl leading-none font-medium">no.1</h3>
				<p class="text-muted-foreground text-sm">
					vezironi &bull; <span class="font-medium">Web And Game Developer</span>
				</p>
			</div>
			<div class="p-6 pt-0">
				<p class="text-muted-foreground mb-2 text-sm">
					Hello, <span class="text-foreground">I'm no.1</span>. I'm <span class="text-foreground">19 years old</span> and <span class="text-foreground">live in Ankara, Turkey</span>. I'm currently focusing on <span class="text-foreground">web and game development</span>. I particularly enjoy developing software using technologies such as <span class="text-foreground">Lua</span>, <span class="text-foreground">Vue</span>, <span class="text-foreground">React</span>, <span class="text-foreground">TypeScript</span>, <span class="text-foreground">SQL</span>... I'm always open to learning new things and aim to add value both to myself and others through the projects I develop.
				</p>
			</div>
		</div>
	</section>
</Layout>